<div
  class="wrapper"
  [ngClass]="{ 'wrapper-top': course.isTopRated }"
  epCreationDate
  [creationDate]="course.date"
>
  <div class="primary" style="width: 100%">
    <header class="header d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h3 class="title text-capitalize mr-2">
          {{ course.id }}. video course - {{ course.name | uppercase }}
        </h3>
        <i *ngIf="course.isTopRated" class="fa fa-star"></i>
      </div>
      <ul class="meta d-flex justify-content-between align-items-end">
        <li class="item">
          <i class="fa fa-clock-o"></i>
          <a class="item__link" href="#">{{ course.length | hours }}</a>
        </li>
        <li class="item">
          <i class="fa fa-calendar"></i>
          <a class="item__link" href="#">{{ course.date | date: 'dd MMM, yyyy' }}</a>
        </li>
      </ul>
    </header>
    <div class="content">
      <p>{{ course.description }}</p>
    </div>
  </div>

  <div class="secondary d-flex align-items-center">
    <button (click)="onEditCourse(course)" class="button btn btn-warning bg-warning">
      <i class="fa fa-pencil"></i>
      edit
    </button>
    <button id="delete" (click)="onDeleteCourse()" class="button btn btn-danger bg-danger">
      <i class="fa fa-trash"></i>
      delete
    </button>
  </div>
</div>

<div
  class="modal"
  [ngClass]="{ show: courseService.dialog$ | async }"
  [ngStyle]="{ display: (courseService.dialog$ | async) ? 'block' : 'none' }"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deleting course</h5>
        <button
          (click)="cancelDelete()"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Do you really want to delete the course
          <span class="text-danger">{{ course.name | uppercase }}</span
          >?
        </p>
      </div>
      <div class="modal-footer">
        <button (click)="deleteCourse(course)" type="button" class="btn btn-danger bg-danger">
          Yes, delete this course!
        </button>
        <button
          (click)="cancelDelete()"
          type="button"
          class="btn btn-success bg-success"
          data-dismiss="modal"
        >
          No, save it
        </button>
      </div>
    </div>
  </div>
</div>
