<div class="wrapper" [ngClass]="{'wrapper-top': course.topRated}" epCreationDate [creationDate]="course.creationDate">
  <div class="primary" style="width: 100%">
    <header class="header d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h3 class="title mr-2">{{ course.title | uppercase }}</h3>
        <i *ngIf="course.topRated" class="fa fa-star"></i>
      </div>
      <ul class="meta d-flex justify-content-between align-items-end">
        <li class="item">
          <i class="fa fa-clock-o"></i>
          <a class="item__link" href="#">{{ course.duration | hours }}</a>
        </li>
        <li class="item">
          <i class="fa fa-calendar"></i>
          <a class="item__link" href="#">{{ course.creationDate | date:'dd MMM, yyyy' }}</a>
        </li>
      </ul>
    </header>
    <div class="content">
      <p>{{ course.description }}</p>
    </div>
  </div>

  <div class="secondary d-flex align-items-center">
    <button class="button btn">
      <i class="fa fa-pencil"></i>
      edit
    </button>
    <button id="delete" (click)="onDelete(course)" class="button btn">
      <i class="fa fa-trash"></i>
      delete
    </button>
  </div>
</div>
