:host {
  display: block;
  width: 80%;
  margin: auto;
}

.form-label {
  width: 100%;
  display: flex;

  & span {
    margin-left: .5rem;
  }
}

.error-message {
  margin-left: 10px;
  margin-top: -4px;
}
