<ep-spinner *ngIf="indicator"></ep-spinner>
<section *ngIf="!indicator">
  <h2 class="form-title text-capitalize mb-3">{{ title }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="text-capitalize" for="title">title: <span>*required</span></label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="title of course"
      />
    </div>
    <div class="form-group">
      <label class="text-capitalize" for="description">description: <span>*required</span></label>
      <textarea
        formControlName="description"
        type="text"
        class="form-control"
        id="description"
        rows="3"
        placeholder="description of course"
      ></textarea>
    </div>
    <div class="form-group">
      <label class="text-capitalize" for="date">date: <span>*required</span></label>
      <input
        formControlName="date"
        type="date"
        class="form-control"
        id="date"
        placeholder="MM.DD.YYYY"
      />
    </div>
    <div class="form-group">
      <label class="text-capitalize" for="duration">duration: <span>*required</span></label>
      <input
        formControlName="duration"
        type="number"
        class="form-control"
        id="duration"
        placeholder="input in minutes"
      />
    </div>

    <div class="form-group" style="margin-bottom: 3rem">
      <label class="text-capitalize" for="authors">authors: <span>*required</span></label>
      <ng-select
        id="authors"
        style="text-transform: capitalize"
        [items]="authors"
        [closeOnSelect]="false"
        [searchable]="false"
        multiple="true"
        bindLabel="name"
        formControlName="authors"
        placeholder="Select authors"
      >
      </ng-select>
    </div>

    <button [disabled]="buttonStatus" class="btn btn-primary text-capitalize mr-2" type="submit">save</button>
    <button class="btn btn-secondary text-capitalize" (click)="goBack()" type="button">
      cancel
    </button>
  </form>
</section>
