<form class="form">
  <h4 class="form__title text-capitalize">login</h4>
  <div class="form-group">
    <label class="form__label d-flex justify-content-between" for="email">E-mail: <span class="form__required">*required</span></label>
    <input type="email" class="form__input form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="form__label d-flex justify-content-between" for="password">Password: <span class="form__required">*required</span></label>
    <input type="password" class="form__input form-control" id="password" placeholder="Enter password">
  </div>
  <div class="form-group d-flex justify-content-between align-items-center">
    <a class="form__redirect" [routerLink]="['/registration']">Forgot password?</a>
    <button type="submit" class="form__button btn btn-primary text-capitalize">login</button>
  </div>
</form>
