<h2 class="form-title text-capitalize mb-3">{{ title }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="form-label text-capitalize" for="title">title: <span>*required</span></label>
    <input formControlName="title" type="text" class="form-control" id="title" placeholder="title of course">
  </div>
  <div class="form-group">
    <label class="form-label text-capitalize" for="description">description: <span>*required</span></label>
    <textarea formControlName="description" type="text" class="form-control" id="description" rows="3" placeholder="description of course"></textarea>
  </div>
  <div class="form-group">
    <label class="form-label text-capitalize" for="creationDate">date: <span>*required</span></label>
    <input formControlName="creationDate" type="date" class="form-control" id="creationDate" placeholder="MM.DD.YYYY">
  </div>
  <div class="form-group">
    <label class="form-label text-capitalize" for="duration">duration: <span>*required</span></label>
    <input formControlName="duration" type="number" class="form-control" id="duration" placeholder="input in minutes">
  </div>

  <div class="form-group">
    <label class="form-label text-capitalize" for="authors">authors: <span>*required</span></label>
    <input formControlName="authors" type="text" class="form-control text-capitalize" id="authors" placeholder="start typing ..." />
  </div>
  <button class="btn btn-primary text-capitalize mr-2" type="submit">save</button>
  <button class="btn btn-secondary text-capitalize" (click)="goBack()" type="button">cancel</button>
</form>
