<h2 class="form-title text-capitalize mb-3">edit course</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="form-label text-capitalize" for="title">title: <span>*required</span></label>
    <input formControlName="title" type="text" class="form-control" id="title" placeholder="title of course">
  </div>
  <div class="form-group">
    <label class="form-label text-capitalize" for="description">description: <span>*required</span></label>
    <textarea formControlName="description" type="text" class="form-control" id="description" rows="3" placeholder="description of course"></textarea>
  </div>
  <div class="form-group">
    <label class="form-label text-capitalize" for="date">date: <span>*required</span></label>
    <input formControlName="date" type="date" class="form-control" id="date" placeholder="MM.DD.YYYY">
  </div>
  <div class="form-group">
    <label class="form-label text-capitalize" for="duration">duration: <span>*required</span></label>
    <input formControlName="duration" type="number" class="form-control" id="duration" placeholder="input in minutes">
  </div>

  <ng-select [items]="course.authors"
             [addTag]="addTagFn"
             [hideSelected]="true"
             multiple="true"
             bindLabel="firstName"
             formControlName="authors"
             >
  </ng-select>

  <button class="btn btn-primary text-capitalize mr-2" type="submit">save</button>
  <button class="btn btn-secondary text-capitalize" (click)="goBack()" type="button">cancel</button>
</form>
