$soft-blue: #577ce6;
$pale-grey: #f2f3f7;
$sick-green: #9bc837;
$dark-sky-blue: #30b6dd;

::placeholder {
  color: #c0c3ce;
  font-size: 14px;
}

:host {
  display: flex;
  flex: 1;
  background-color: $pale-grey;
  padding: 24px 0 80px;
}

.header {
  margin-bottom: 12px;
}

.band {
  display: flex;

  &--right {
    justify-content: flex-end;
    margin-top: 26px;
  }
}

.input {
  width: 360px;
  height: 48px;
  padding-left: 44px;
  margin-right: 6px;
  background-image: url('../../../assets/images/ic-search.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 12px 50%;
  color: #c0c3ce;
  font-size: 14px;
}

.input-container {
  display: flex;
}

.submit {
  border-radius: 3px;
  background-color: $sick-green;
  color: white;
  text-transform: capitalize;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: darken($sick-green, 10%);
  }
}

.button {
  background-color: $dark-sky-blue;
  color: white;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;

  & > .fa {
    margin-right: 12px;
  }

  &:hover {
    background-color: darken($dark-sky-blue, 10%);
  }
}

.more {
  width: 100%;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  text-align: center;
  padding: 12px 0;
  text-transform: uppercase;
  color: white;
  background-color: #30b6dd;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #1f98bb;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.nodata {
  border-radius: 6px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: white;
  text-align: center;
  padding: 12px 0;
  text-transform: uppercase;
  color: #2c2f3c;
}
