$soft-blue: #577ce6;
$pale-grey: #f2f3f7;

:host {
  display: block;
  background-color: $pale-grey;
  padding: 24px 0 80px;
}

.header {
  margin-bottom: 12px;
}

.band {
  display: flex;

  &--right {
    justify-content: flex-end;
    margin-top: 26px;
  }
}

.input {
  width: 360px;
  height: 48px;
  margin-right: 6px;
}

.submit {
  border-radius: 3px;
  background-color: #9bc837;
  color: white;
  text-transform: capitalize;
}

.button {
  background-color: #30b6dd;
  color: white;
}

.more {
  border-radius: 6px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: white;
  text-align: center;
  padding: 12px 0;

  &__link {
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    color: $soft-blue;
  }
}

