<div class="container">
  <header class="header">
    <div class="band">
      <form class="d-flex">
        <input class="input form-control" type="text" placeholder="Text to search">
        <button class="submit btn" type="submit">search</button>
      </form>
    </div>
    <div class="band band--right">
      <button class="button btn" type="button">
        <i class="fa fa-plus"></i>
        Add course
      </button>
    </div>
  </header>
  <ep-courses-list></ep-courses-list>
  <div class="more">
    <span class="more__link">load more</span>
  </div>
</div>

